.App{
  width: 80%;
  margin: 0 auto;
}
.navbar{
  background-color: darkcyan;
}

.navbar-title, .navbar-subtitle{
  color: white;
  padding: 10px 0 10px 15px;
  display: inline-flex;
}

.navbar-title{
  font-size: 30px;
}

.navbar-logo{
  width: 50px;
  float: right;
  padding: 10px 10px 10px 0;
}
